body{
    background-color: rgb(175, 81, 194);
}
h1{
    font-size: 70px;
    color: rgb(158, 250, 219);
    text-align: center;
}
p{
    font-size: 30px;
    color: rgb(90, 0, 56);
    text-align: justify;
}
img{
    width: 250px;
    height: 200px;
    margin: 30px;
    margin-left: 15px;
}

.cabecalho{
    background-color: rgb(175, 81, 194);
    display: flex;
}
.logocabecalho{ 
     width:100px;
}
.lista_cabecalho{   
    display:flex;
    margin-left: 500px;
}
.item_lista_cabecalho{
    color: #700061;
    list-style: none;
    text-transform:upercase
    font: size 10px;
    padding:5px;
}